* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--Color1: #406082;
	--Color2: #ff4727;
	--Color3: #672d60;
	--COlor4: #fffbfa;
	font-family: "Roboto", sans-serif;
}
body {
	background-color: var(--Color3);
}
main {
	width: 100vw;
	height: 95vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 1px;
	flex-wrap: wrap;
}
textarea {
	height: 50vh;
	width: 100vw;
}
